CICSWebPortal/CICSWebPortal/Service References/ServiceReference2/ChamsICSService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://portalservices.cics.chams.com" elementFormDefault="qualified" targetNamespace="http://portalservices.cics.chams.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CICSWEBSERVICE/ChamsICSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" />
  <xs:element name="GetAllLocationsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllLocationsByClientIdResult" nillable="true" type="q1:GetAllLocationRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllLocationsByAgentIdResult" nillable="true" type="q2:GetAllLocationRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetWalletResult" nillable="true" type="q3:FindWalletRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundWallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="payment" nillable="true" type="q4:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FundWalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundWalletResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetUserInvoicesResult" nillable="true" type="q5:GetUserInvoicesRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllInvoicesResult" nillable="true" type="q6:GetUserInvoicesRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetInvoiceByIdResult" nillable="true" type="q7:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="paymentReq" nillable="true" type="q8:PaymentReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetTransactionDetailsResult" nillable="true" type="q9:GetInvoicePaymentRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionDetailsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="paymentReq" nillable="true" type="q10:PaymentReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionDetailsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionDetailsByUserResult" nillable="true" type="q11:GetInvoicePaymentRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="payment" nillable="true" type="q12:PaymentReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="MakePaymentResult" nillable="true" type="q13:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q14:CreateClientReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="CreateClientResult" nillable="true" type="q15:CreateClientRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q16:UpdateClientReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateClientResult" nillable="true" type="q17:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindClientResult" nillable="true" type="q18:FindClientRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientWithZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientWithZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindClientWithZonesResult" nillable="true" type="q19:FindClientWithZoneRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllClientResult" nillable="true" type="q20:GetAllClientsRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientWithZones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientWithZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllClientWithZonesResult" nillable="true" type="q21:GetAllClientsWithZoneRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q22:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="CreateAgentResult" nillable="true" type="q23:CreateAgentRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q24:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateAgentResult" nillable="true" type="q25:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindAgentResult" nillable="true" type="q26:FindAgentRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllAgentsResult" nillable="true" type="q27:GetAllAgentRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllAgentsByClientIdResult" nillable="true" type="q28:GetAllAgentRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTerminalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q29:TerminalStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTerminalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateTerminalStatusResult" nillable="true" type="q30:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindTerminalResult" nillable="true" type="q31:FindTerminalRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerminals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerminalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTerminalsResult" nillable="true" type="q32:GetAllTerminalRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerminalsByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerminalsByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTerminalsByAgentIdResult" nillable="true" type="q33:GetAllTerminalRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerminalsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerminalsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTerminalsByClientIdResult" nillable="true" type="q34:GetAllTerminalRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindTransactionResult" nillable="true" type="q35:FindTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTransactionByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTransactionByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindTransactionByCodeResult" nillable="true" type="q36:FindTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q37:GetTransactionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q38:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionResult" nillable="true" type="q39:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionByClientIdResult" nillable="true" type="q40:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionByAgentIdResult" nillable="true" type="q41:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByTerminalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByTerminalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionByTerminalIdResult" nillable="true" type="q42:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByLocationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByLocationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionByLocationIdResult" nillable="true" type="q43:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000Transaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetLast1000TransactionResult" nillable="true" type="q44:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetLast1000TransactionByClientIdResult" nillable="true" type="q45:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetLast1000TransactionByAgentIdResult" nillable="true" type="q46:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionByTerminalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast1000TransactionByTerminalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetLast1000TransactionByTerminalIdResult" nillable="true" type="q47:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByResidentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="residentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionByResidentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllTransactionByResidentIdResult" nillable="true" type="q48:GetAllTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindErrorTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindErrorTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindErrorTransactionResult" nillable="true" type="q49:FindErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindErrorTransactionByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindErrorTransactionByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindErrorTransactionByCodeResult" nillable="true" type="q50:FindErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q51:GetTransactionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetErrorTransactionResult" nillable="true" type="q52:GetAllErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllErrorTransactionResult" nillable="true" type="q53:GetAllErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllErrorTransactionByClientIdResult" nillable="true" type="q54:GetAllErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllErrorTransactionByAgentIdResult" nillable="true" type="q55:GetAllErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionByTerminalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorTransactionByTerminalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllErrorTransactionByTerminalIdResult" nillable="true" type="q56:GetAllErrorTransactionRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q57:Revenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="CreateRevenueResult" nillable="true" type="q58:CreateRevenueRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q59:Revenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateRevenueResult" nillable="true" type="q60:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindRevenueResult" nillable="true" type="q61:FindRevenueRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenuesResult" nillable="true" type="q62:GetAllRevenueRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMinistry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMinistryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllMinistryResult" nillable="true" type="q63:ArrayOfMinistry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueHead">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueHeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueHeadResult" nillable="true" type="q64:ArrayOfRevenueHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMinistryByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMinistryByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllMinistryByClientIdResult" nillable="true" type="q65:ArrayOfMinistry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueHeadByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueHeadByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueHeadByClientIdResult" nillable="true" type="q66:ArrayOfRevenueHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueHeadByMinistryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueHeadByMinistryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueHeadByMinistryIdResult" nillable="true" type="q67:ArrayOfRevenueHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueCategoryByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueCategoryByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueCategoryByClientIdResult" nillable="true" type="q68:ArrayOfRevenueCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueCategoryByRevenueHeadId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueCategoryByRevenueHeadIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueCategoryByRevenueHeadIdResult" nillable="true" type="q69:ArrayOfRevenueCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueItemByClientIdResult" nillable="true" type="q70:ArrayOfRevenueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByMinistryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByMinistryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueItemByMinistryIdResult" nillable="true" type="q71:ArrayOfRevenueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByCategoryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByCategoryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueItemByCategoryIdResult" nillable="true" type="q72:ArrayOfRevenueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByRevenueHeadId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenueItemByRevenueHeadIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenueItemByRevenueHeadIdResult" nillable="true" type="q73:ArrayOfRevenueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenuesByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRevenuesByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRevenuesByClientIdResult" nillable="true" type="q74:GetAllRevenueRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q75:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="CreateIdentityResult" nillable="true" type="q76:CreateIdentityRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q77:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateIdentityResult" nillable="true" type="q78:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindIdentityResult" nillable="true" type="q79:FindIdentityRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIdentity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllIdentityResult" nillable="true" type="q80:GetAllIdentityRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIdentityByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIdentityByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllIdentityByClientIdResult" nillable="true" type="q81:GetAllIdentityRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q82:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="CreateUserResult" nillable="true" type="q83:CreateUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q84:UserLoginReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UserLoginResult" nillable="true" type="q85:UserLoginRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q86:ResetUserPasswordReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="ResetUserPasswordResult" nillable="true" type="q87:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="request" nillable="true" type="q88:UserStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateUserStatusResult" nillable="true" type="q89:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="request" nillable="true" type="q90:ChangeUserPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="ChangeUserPasswordResult" nillable="true" type="q91:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q92:RoleRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindRoleResult" nillable="true" type="q93:FindRoleRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRoleByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRoleByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindRoleByCodeResult" nillable="true" type="q94:FindRoleRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q95:GetAllUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllUsersByClientIdResult" nillable="true" type="q96:GetAllUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAssesibleUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q97:GetAllUserReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAssesibleUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetUserAssesibleUsersResult" nillable="true" type="q98:GetAllUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q99:GetAllUserReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllUsersByTypeIdResult" nillable="true" type="q100:GetAllUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindUserResult" nillable="true" type="q101:FindUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindUserByEmailResult" nillable="true" type="q102:FindUserRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q103:DashboardReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetDashboardSummaryResult" nillable="true" type="q104:DashboardRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxpayerDashboardSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q105:DashboardReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxpayerDashboardSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetTaxpayerDashboardSummaryResult" nillable="true" type="q106:TaxpayerDashboardRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutiveDashboardData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q107:ExecutiveDashboardReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutiveDashboardDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetExecutiveDashboardDataResult" nillable="true" type="q108:ExecutiveDashboardRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodicDashboardData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q109:ExecutiveDashboardReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodicDashboardDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetPeriodicDashboardDataResult" nillable="true" type="q110:ExecutiveDashboardRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAgentsSummaryResult" nillable="true" type="q111:AgentSummaryRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetClientsSummaryResult" nillable="true" type="q112:ClientSummaryRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="request" nillable="true" type="q113:TransactionSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetReportSummaryResult" nillable="true" type="q114:TransactionSummaryRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllNotificationsResult" nillable="true" type="q115:GetNotificationsRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuditTrails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuditTrailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllAuditTrailsResult" nillable="true" type="q116:GetAuditTrailsRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEODReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="request" nillable="true" type="q117:FetchEndOfDayReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEODReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetEODReportResult" nillable="true" type="q118:FetchEndOfDayRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q119:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="CreateLocationResult" nillable="true" type="q120:CreateLocationRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="req" nillable="true" type="q121:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="UpdateLocationResult" nillable="true" type="q122:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="FindLocationResult" nillable="true" type="q123:FindLocationRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/ChamsICSWebService.Model" minOccurs="0" name="GetAllLocationsResult" nillable="true" type="q124:GetAllLocationRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>